table {
	border-width: 8px;
	border-style: outset;
	width: 80%;
	text-align: center;
	margin-left:auto;
	margin-right: auto;
	border-radius: 5px;
}
td {
	padding: auto;
}
button {
	margin-left: 8%;
	margin-top: 2%;
	width: 170px;
	height: 60px;
}