body {
	background-color: rgb(101, 22, 22);
}
.titleBar {
	border-width: 7px;
	border-style: outset;
	width: 65%;
	text-align: center;
	border-radius: 30px;
	background-color: rgb(245 73 73);
}
.titleBarButton {
	padding-right: 20px;
	padding-left: 20px;
	font-family: "Arial", sans-serif;
	border: 1px solid;
	border-style: inset;
	border-width: 4px;
	border-color: rgb(213 43 43);
	border-radius: 15px;
}
.gameButtonsdesc {
	margin-left: 8%;
	width: 170px;
	height: 20px;
	background-color: rgb(255 255 255);
}
.gameButtons {
	margin-left: 8%;
	margin-top: 2%;
	width: 170px;
	height: 60px;
}
.appButtons {
	margin-left: 8%;
	margin-top: 2%;
	width: 170px;
	height: 60px;
}
a {
	text-decoration: none;
	color: white;
}
.textSquareOne {
	background-color: rgb(255, 255, 255);
	width: 600px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	border-width: 7px;
	border-radius: 5px;
	text-align: center;
	font-size: 40px;
}
.indexBoxes {
	display:flex;
	align-items: center;
	justify-content: center;
}
.indexBoxes2 {
	display: flex;
	align-items: center;
}
.homeButton {
	width: 50px;
	height: 50px;
	margin-right: 20px;
}